<!doctype html>
<html>
  <head>
    <title>Temp file</title>
    <style>

    </style>
  </head>

  <body>
    <h1>This is the Temp page</h1>
    <form class="form" method="post" action="/">
      <input type="text" name="inputText" placeholder="Input text">
    </form>
  </body>
</html>
